﻿@using EyeCatch.Umbraco.FeedGenerator
@using Umbraco.Core
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var rssModel = new FeedModel(Model);
}
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="@rssModel.Language">
    <title>@rssModel.Title</title>
    <link href="@rssModel.SelfUrl" rel="self" />
    <link href="@rssModel.SiteUrl" />
    <updated>@rssModel.Updated.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss'Z'")</updated>
    <generator uri="http://www.eyecatch.no/projects/umbracofeedgenerator" version="3.0">EyeCatch Feed Generator</generator>
    <id>@rssModel.SelfUrl</id>
@foreach (var item in rssModel.Items)
{
    <entry>
        <title>@item.Title</title>
        <link rel="alternate" href="@item.Url"/>
        <published>@item.PublishDate.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss'Z'")</published>
        <updated>@item.UpdateDate.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss'Z'")</updated>
        <id>@item.Url</id>
        <author>
            <name>@item.Author</name>
        </author>
        <summary type="html"><![CDATA[@Html.Raw(item.Summary)]]></summary>
        <content type="html"><![CDATA[@Html.Raw(item.Content)]]></content>
        @foreach (var category in item.Tags)
        {
            <category term="@category"/>
        }
    </entry>
}
</feed>
