﻿@using EyeCatch.Umbraco.FeedGenerator
@using Umbraco.Core
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var rssModel = new FeedModel(Model);
}
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/elements/1.1/">
    <channel>
        <title>@rssModel.Title</title>
        @Html.Raw("<link>")@rssModel.SiteUrl@Html.Raw("</link>")
        <pubDate>@rssModel.Updated.ToString("r")</pubDate>
        <generator>EyeCatch Feed Generator v3.0</generator>
        <description>@rssModel.Description</description>
        <language>@rssModel.Language</language>
        <atom:link href="@rssModel.SelfUrl" rel="self" type="application/rss+xml"/>
    @foreach (var item in rssModel.Items)
    {
        <item>
            <title>@item.Title</title>
            @Html.Raw("<link>")@item.Url@Html.Raw("</link>")
            <dc:creator>@item.Author</dc:creator>
            <pubDate>@item.PublishDate.ToString("r")</pubDate>
            <guid>@item.Url</guid>
            <description>@item.Summary</description>
            <content:encoded><![CDATA[@Html.Raw(item.Content)]]></content:encoded>
            @foreach (var category in item.Tags)
            {
                <category>@category</category>
            }
        </item>
    }
    </channel>
</rss>